<form class="row g-3 mx-3">
  <div class="col-md-12 text-center mt-5">
    <h1>profile</h1>
  </div>
    <input type="file" id="myFile" name="Avatar">
  <div class="col-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">username</label>
    <input type="email" class="form-control" id="inputEmail4" name="username">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password">
  </div>
  
  <div class="col-md-6">
    <label for="inputdate4" class="form-label">Date of Birth</label>
    <input type="date" class="form-control" id="inputdate4" name="DOB">
  </div>
  
  <div class="col-md-6">
    <label for="inputdate4" class="form-label">Phone number</label>
    <input type="text" class="form-control" id="inputdate4" name="phoneNumber">
  </div>
  
  <fieldset class="row mb-3 mt-3">
    <legend class="col-form-label col-sm-2 pt-0">Roles</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          User (Buyer)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Seller
        </label>
      </div>
      
    </div>
  </fieldset>



  <div class="col-12  d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>