<h1 class="mt-3 ml-3">Order</h1>

<div class="d-flex flex-column mb-3">
  <% orders.product.forEach(function(product) {%>
  <div class="p-2">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0"><%= product.id.productName%></h3>
        <p class="card-text mb-auto"><%=product.price%></p>
        <p class="card-text mb-auto"><%=product.description%></p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/uploads/<%=product.image%>" alt="" />
      </div>
    </div>
  </div>
  <%}) %>
</div>
