<h1>Orders</h1>

<table class="table table-dark table-hover">
  <tr>
    <th>Order id</th>
    <th>Status</th>
    <th>Ordered Date</th>
    <th>View Order</th>
  </tr>
  <!-- loop -->
  <% let x=1; orders.forEach(function (order, index) { %>
  <tr>
    <td><%= x %></td>
    <td><%= order.status %></td>
    <td><%= order.createdAt %></td>
    <td>
      <a href="/order/detail?id=<%= order._id %>" class="btn btn-outline-dark">
        View
      </a>
    </td>
  </tr>
  <% x++; }) %>
</table>
