<form class="row g-3 mx-3" action="/product/add" method="post" enctype="multipart/form-data">
  <div class="col-md-12 text-center mt-5">
    <h1>Add Products</h1>
  </div>

  <div   class="mb-1">
    <label for="formFile" class="form-label">Upload your product picture here</label>
    <input class="form-control" type="file" id="formFile" name="image">
  </div>

  <div class="col-md-12 mb-1">
    <label for="inputusername4" class="form-label">product name</label>
    <input type="text" class="form-control" id="inputusername4" name="productName">
  </div>

  <div class="input-group mb-1 col-md-6 mt-4">
    <span class="input-group-text">BHD</span>
    <input type="text" class="form-control" aria-label="Price" name="price" placeholder="price">
    <span class="input-group-text">.00</span>
  </div>

 <div class="mb-1">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
</div>
  
<div class="input-group mb-1">
  <select class="form-select" id="inputGroupSelect02" name="productType">
    <option selected>Choose category for your product</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <label class="input-group-text" for="inputGroupSelect02">Options</label>
</div>

<input type="hidden" name="shopid" value="<%=shopid%>">
  <div class="col-12  d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">Add Product</button>
  </div>
</form>