<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/img/<%=product.image%>" alt="..." /></div>
          <form class="col-md-6" method="post" action="/cart/add">
              <h1 class="display-5 fw-bolder"></h1>
              <div class="fs-5 mb-5">
                <span> BHD</span>
            </div>
              <p class="lead"><%=product.description%></p>
              <div class="d-flex">
                  <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                  <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                      <i class="bi-cart-fill me-1"></i>
                      Add to cart
                  </button>
              </div>
              <input type="hidden" name="id" value="<%=product._id%>" />
          </form>
      </div>
  </div>
</section>
