<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="display-4 fw-normal">Punny headline</h1>
                <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
                <a class="btn btn-outline-secondary" href="#">Coming soon</a>
            </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </section>
    <form method="POST" action="/shop/add" class="row g-3" enctype="multipart/form-data">
        <div class="col-md-12">
            <label class="form-label">Shop Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div>Upload Logo</div>
        <div class="input-group mb-3">
            <input type="file" name="logo" class="form-control" id="inputGroupFile02">
        </div> 
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Shop</button>
        </div>         
    </form>

</main>